*{
    padding:0;
    margin:0;
    font-family: "Microsoft YaHei";
    color:#333;
}
em,i{
    font-style: normal;
}
.clearfix:after{
    content:" ";
    visibility:hidden;
    display:block;
    height:0;
    clear:both;
}
.clearfix{
    *zoom:1;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.align-center{
    text-align:center;
}
li{
    list-style: none;
}
a,a:hover,a:active{
    text-decoration:none;
}
input:focus,select:focus{
    -webkit-shape-outside: none;
    outline:none;
}
