@import "base.css";
.flex-box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
}
.flex-box .item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.nav-box{
    padding:15px 30px 12px;
    background:#161616;
    color:#fff;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100px;
}
.nav-box .logo-box h1{
    font-size: 32px;
    color:#fafafa;
}
.nav-box .logo-box h1.with-sub{
    font-size: 32px;
    color:#fafafa;
    line-height: 73px;
}
.nav-box .logo-box h1.with-sub span{
    font-size: 18px;
    color:#fff;
}
.nav-box .logo-box p {
    font-size: 16px;
    color:#fafafa;
}
.nav-box .nav-lists {
    padding-top:39px
}
.nav-box .nav-lists li{
    float:left;
    height:24px;
    margin-right:55px;
}
.nav-box .nav-lists li.new-nav-lists{
    margin-right:40px;
}
.nav-box .nav-lists li a{
    /*color:#ccc;*/
    font-size:20px;
    font-weight: bold;
    height:24px;
    line-height:24px;
    color:#fff;
 }
.nav-box .nav-lists li a:hover,.nav-box .nav-lists li.on a{
    color:#fff;
    font-weight: bold;
}
.nav-box .nav-lists li.hot{
    position:relative;
}
.nav-box .nav-lists li.hot a:before{
    content:" ";
    position:absolute;
    top:-35px;
    left:1px;
    width:48px;
    height:48px;
    background:url("../images/hot.png") left top no-repeat;
    /*background-size: 16px 16px;*/
}
.nav-box .tel-box{
    color:#fff;
    font-size:16px;
    padding-top:35px;
}
.nav-box .tel-box span{
    font-size:22px;
    font-weight:bold;
    color:#fff;
}
.banner{
    width:100%;
    /*background:#e45d54;*/
    margin:100px auto 0;
    height: 500px;
    background:url("../images/banner.jpg") left top no-repeat;
    background-size: 100%;
    /*background:#*/
    overflow:hidden;
}
.banner .content{
    width: 1200px;
    margin: 70px auto;
    height: 400px;
    overflow:hidden;
}
.banner .content img{
    display:block;
    width: 700px;
    height: 333px;
}
.banner .content .ask{
    width: 450px;
    height: 333px;
    background:rgba(255,255,255,0.8);
    /*background:rgba(0,0,0,0.5);*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:5px 20px;
}
.banner .ask h1{
    font-size: 20px;
    color:#ce9a74;
    height: 40px;
    line-height: 40px;
}
.banner .ask ul{
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
}
.banner .ask ul li{
    height: 26px;
    line-height:26px;
}
.banner .ask ul li a{
    /*color:#eeeeee;*/
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 14px;
    color:#333;
}
.banner .ask ul li.hot a{
    font-weight: 600;
    color:#f89247;
}
.banner .ask ul li a:hover{
    text-decoration: underline;
    color:#f89247;
}
.banner .ask ul li.hot a:hover{
    color:#feba88;
}
.choose-box{
    width: 1180px;
    margin:auto;
    overflow:hidden;
}
.choose-box h1{
    font-size:26px;
    position:relative;
    text-align:center;
    margin:40px auto;

}
.choose-box h1:before{
    content:"";
    position:absolute;
    width:1180px;
    top:50%;
    left:0;
    border:1px solid #cccccc;
    z-index: -1;
}
.choose-box h1 span{
    display:inline-block;
    padding:0 20px;
    background:#fff;
}
.choose-box h1 span em{
    color:#e75a5a;
    font-style: normal;
}
.choose-box .choose-lists{
    width:1200px;
    margin-top:30px;
}
.choose-box .choose-lists li{
    width:220px;
     float:left;
    margin-right:20px;
    background:#e9e8e8;
    position:relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:20px;
}

.choose-box .choose-lists li a{
    display:block;
    height:40px;
    line-height:40px;
    color:#fff;
    text-align:center;
    background:#e75a5a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.choose-box .choose-lists li a.special-btn{
    background:#191919;
}
.choose-box .choose-lists li a.special-btn:hover{
    background:#333333;
}
.choose-box .choose-lists li a:hover{
    background:#db5353;
    color:#fafafa;
}
.choose-box .choose-lists li h3{
    font-size:20px;
    margin-bottom: 10px;
}
.choose-box .choose-lists li h3.special{
    font-size: 16px;
}
.choose-box .choose-lists li h3.special span{
    color:#e75a5a;
}
.choose-box .choose-lists li p.content{
    font-size: 16px;
}
.choose-box .choose-lists li p.special-content{
    font-size: 14px;
    line-height:1.5;
    padding:10px 0 15px;
}
.choose-box .choose-lists li div.star{
    padding:15px 0;
}
.choose-box .choose-lists li div.star h5{
    font-weight:normal;
    font-size:14px;
}
.choose-box .choose-lists li div.star div.stars{
    padding-top:10px;
}
.choose-box .choose-lists li div.star div.stars span{
    display:inline-block;
    width:20px;
    height:20px;
    background:url("../images/star.png") top left no-repeat;
    background-size:20px;
}
.hot-professions-box{
    background:#f5f5f5;
}
.hot-professions{
    margin: 0 auto 0;
    background:#f5f5f5;
    width:1180px;
    padding:30px;
}
.hot-professions .title{
    text-align:center;
}
.hot-professions h1{
    font-size: 28px;
    color:#e75a5a;
    text-align:center;
}
.hot-professions .title p.sub{
    font-size:16px;
    padding:10px 0;
}
.hot-professions .title p.sub span{
    color:#db2828;
}
.hot-professions .professions{
    width: 1180px;
    overflow:hidden;
    padding: 20px 0;
}
.hot-professions .professions ul{
    width: 1200px;
    overflow:hidden;
}
.hot-professions .professions ul li{
    width: 178px;
    float:left;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow:hidden;
}
.hot-professions .professions ul li span,.hot-professions .professions ul li a{
    display:block;
}
.hot-professions .professions ul li span.title{
    height: 36px;
    line-height: 36px;
    background:#191919;
    color:#fff;
    font-size: 16px;
}
.hot-professions .professions ul li a.content{
    height: 36px;
    line-height:36px;
    background:#dbdada;
    text-align:center;
    outline: 1px dashed #f2f0f0;
    outline-offset: -5px;
    font-size:16px;
}
.hot-professions .btns-box{
    width: 380px;
    overflow:hidden;
    margin:10px auto;
}
.hot-professions .btns-box a{
    display:block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    float:left;
    background:#e75a5a;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.hot-professions .btns-box a.back-bg{
    background:#191919;
    margin-right: 20px;
}
.hot-professions .btns-box a.back-bg:hover{
    background:#666;
}
.hot-professions .btns-box a.red-b:hover{
    background:#db5353;
}
.schools{
    background: url("../images/school_bg.png") top center no-repeat;
}
.schools .title{
    width:1180px;
    text-align:center;
    padding:40px 0;
    margin:0 auto;
}
.schools .title h1{
    font-size:36px;
    color:#0846ad;
}
.schools .title p.sub{
    font-size: 20px;
    color:#666;
    line-height:1.8
}
.schools .schools-lists-box {
    width:1180px;
    margin: 0 auto;
    overflow:hidden;
}
.schools .schools-lists-box ul{
    width:1200px;
}
.schools .schools-lists-box ul li{
    width:373px;
    margin-right:20px;
    float:left;
    margin-bottom:20px;
    text-align:center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #cccccc;
    padding: 10px;
}
.schools .schools-lists-box ul li div.img-box{
    width: 150px;
    height: 150px;
}
.schools .schools-lists-box ul li div.img-box img{
    display:block;
    width: 100%;
    height: 100%;
    border:none;
}
.schools .schools-lists-box ul li .content{
    width:183px;
}
.schools .schools-lists-box ul li .content h1{
    font-size: 20px;
    text-align:left;
    border-left: 5px solid #191919;
    height: 22px;
    line-height: 19px;
    padding-left: 5px;
}
.schools .schools-lists-box ul li .content p{
    text-align:left;
     font-size: 14px;
    margin: 10px 0;
}
.schools .schools-lists-box ul li .content div.strong{
    color:#a6150a;
    font-weight: 600;
    font-style: italic;
}
.schools .schools-lists-box ul li .content div.strong span{
    color:#a6150a;
    font-size:20px;
}
.schools .schools-lists-box ul li a{
    display:block;
    height:40px;
    line-height: 40px;
    margin-top: 20px;
    background:#db5353;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.schools .schools-lists-box ul li a:hover{
    background:#db5353;
}
.notice{
    background:#f5f5f5;
    overflow:hidden;
}
.notice .title{
    width:1180px;
    margin:0 auto;
    padding:30px 0;
}
.notice .title p {
    position:relative;
    text-align:center;
}
.notice .title p:after{
    content: "";
    display:block;
    position:absolute;
    background:#e75a5a;
    width:100%;
    height:2px;
    top:50%;
    left:0;
    z-index:0;
}
.notice .title p span{
    display:inline-block;
    padding:0 40px;
    background:#f5f5f5;
    position:relative;
    top:0;
    left:0;
    z-index:99;
    font-size:20px;
    font-weight:bold;
    color:#e75a5a;
}
.notice .title h1{
    font-size:32px;
    color:#333;
    text-align:center;
    padding:20px 0;
}
.notice .content{
    width:1180px;
    margin:20px auto;
    overflow:hidden;
}
.notice .content ul{
    width:1200px;
}
.notice .content ul>li{
    width:280px;
    margin-right:20px;
    float:left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    padding:15px 15px 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#fff;
    height:266px;
}
.notice .content ul>li.pink{
    background:#ff8b88;
}
.notice .content ul>li.orange{
    background:#e8b771;
}
.notice .content ul>li.green{
    background:#00c49c;
}
.notice .content ul>li.blue{
    background:#309fe0;
    padding-bottom:15px;
}

.notice .content ul>li h2{
    color:#fff;
    text-align:center;
    border-bottom: 2px solid #fff;
    padding-bottom:5px;
}
.notice .content ul>li p{
    font-size:14px;
    line-height:1.5;
    padding:15px;
    color:#fff;
    max-height:130px;
    overflow:hidden;
}
.notice .content ul>li a{
    display:block;
    width:80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#787878;
    color:#fff;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:16px;
    position:absolute;
    left:10%;
    bottom:15px;
}
.notice .content ul>li a:hover{
    background:#333;
}

.notice .content ul>li ol{
    padding:15px;
}
.notice .content ul>li ol li{
    font-size:14px;
    list-style: circle inside;
    line-height:2;
    color:#fff;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.notice .btn,.installments .btn{
    display:block;
    width:200px;
    text-align:center;
    color:#fff;
    margin:30px auto;
    background:#e75a5a;
    height:50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height:50px;

}
.notice .btn:hover,.installments .btn:hover,.form-box .form-content .btn .ask:hover{
    background:#db5353;
    color:#fafafa;
}
.notice .content  li .time{
    text-align:center;
    color:#fff;
    margin-top: 20px;
}
.notice .content  li .time span{
    font-size: 28px;
    display:inline-block;
    font-weight: 600;
    padding:0 5px;
    colro:#000;
}
.installments{
    background:url("../images/installments-bg.png") top center no-repeat;
}
.installments .title h1{
    text-align:center;
    font-size:40px;
    padding:40px 0 20px;
    line-height: 1.5;
    font-family:"宋体";
    font-weight: 900;
}
.installments .title .sub{
    font-size:14px;
    line-height: 1.5;
    text-align:center;
    color:#333;
}
.installments .content {
    width: 1180px;
    margin:30px  auto 0;
    overflow:hidden;
    padding-bottom:20px;
}
.installments .content .form-box{
    width: 500px;
    background:rgba(255,255,255,0.8);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
}
.installments .content .form-box .group{
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;

}
.installments .content .form-box .group label{
    display:block;
    float:left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.installments .content .form-box .group .group-control{
    height:38px;
    border: 1px solid #ccc;
    float: left;
    width: 298px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow:hidden;
}
.installments .content .form-box .group .group-control input{
    display:block;
    border:none;
    height: 38px;
    padding: 0 10px;
    width: auto;
}
.installments .content .form-box .btns button{
    height: 50px;
    line-height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#e75a5a;
    text-align:center;
    color:#fff;
    display:block;
    width: 100%;
    border:none;
    font-size: 22px;
    letter-spacing: 3px;
    cursor:pointer;
}
.installments .content .form-box .btn button:hover{
    background:#db5353;
}
.footer{
    width:100%;
    height:30px;
    background:#161616;
}
.question{
    background:url("../images/question.png") right center no-repeat;
    margin-top:40px;
    padding-bottom:50px;
}
.question h1{
    padding:20px;
    text-align:center;
    font-size:28px;
    color:#333;
}
.question a.link{
    color:#831f1e;
    font-size:20px;
    width: 220px;
    text-align:center;
    margin: 0 auto;
    font-weight: 600;
    display:block;
    text-decoration: underline;
}
.question a.link:hover{
    color:#a22928;
}
.question .content{
    width: 1180px;
    margin:0 auto 0;
    padding-right: 10px;
    overflow:hidden;
}
.question .content ul{
    width: 1200px;
    padding-right:10px;
    padding-bottom: 10px;
}
.question .content ul li {
    margin-top: 30px;
    width:220px;
    float:left;
    margin-right:20px;
    background:rgba(255,255,255,0.8);
    position:relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:20px;
    display:table-cell;
    height:120px;
    -webkit-box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
    -o-box-shadow: 5px 5px 5px #888888;
    box-shadow: 5px 5px 5px #888888;
}
.question .content ul li>a{
    display:table-cell;
    vertical-align: middle;
    font-size: 16px;
    text-decoration: underline;
}
.question .content ul li>a:hover{
    font-weight:600;
    color:#e75a5a;
}
.question .content ul a.btns{
    display:block;
    width: 180px;
    font-size: 14px;
    text-align:center;
    color:#fff;
    background:#191919;
    height: 26px;
    line-height: 26px;
    margin: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.question .content ul a.btns:hover{
    color:#fff;
    font-weight:normal;
    background:#333333;
}
.hongbao{
    width: 1180px;
    margin: 30px auto 0;
}
.hongbao .cash, .hongbao .day{
    width:520px;
    height: 80px;
    line-height: 80px;
    border: 2px solid #191919;
    position:relative;
    padding:0 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow:hidden;
}
.hongbao .cash p{
    display:inline-block;
}
.hongbao a{
    display:inline-block;
    position:absolute;
    background:#000;
    color:#fff;
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    top: 0;
    right: 0;
    padding: 0 20px;
}
.hongbao p{
    font-size: 20px;
}
.hongbao p span{
    font-size: 26px;
    color:#e75a5a;
    display:inline-block;
    padding:0 10px;
}

.news{
    width: 1180px;
    margin: 20px auto;
    height: 500px;
    background:url("../images/list-bg.png") center center no-repeat;
}
.news div{
    width: 450px;
}
.news div h3{
    font-size:22px;
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.news div p{
    height: 40px;
    /*background:#000;*/
    margin-bottom: 40px;
    color:#fff;
    -webkit-border-radius: 20px / 20px;
    -moz-border-radius:  20px / 20px;
    border-radius: 20px / 20px;
    line-height: 40px;
    padding: 0 20px;
}
.news div.left p.odd{
    background:#9ebdf7;
}
.news div.left p.even{
    background:#f5c6c6;
}
.news div.right p.odd{
    background:#6aca84;
}
.news div.right p.even{
    background:#f7b9ca;
}
.installments .content .lists{
    width: 640px;
    margin-left: 40px;
    float:left;
}
.installments .content .lists .con .title{
    background:#747dff;
    color:#fff;
    line-height:40px;
    font-size: 20px;
    padding: 15px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.installments .content .lists .middle{
    margin: 15px 0;
}
.installments .content .lists .con .content-con{
    margin-left: 20px;
}
.installments .content .lists .con .content-con p.odd{
    margin-bottom: 10px;
}
.installments .content .lists .con .content-con p a{
    display:inline-block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    color:#fff;
    padding: 0 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.installments .content .lists .con .content-con p.odd a{
    background:#66b3d2;
}
.installments .content .lists .con .content-con p.even a{
    background:#ce2929;
}
.recommend_schools{
    width: 1190px;
    margin: 30px auto;
    overflow:hidden;
}
.recommend_schools h1{
    text-align:center;
    font-size:26px;
}
.recommend_schools>.btns a{
    display:block;
    width: 500px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    background:#191919;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:0 auto;
}
.recommend_schools>.btns a:hover{
    background:#666;
}
.recommend_schools .schools-list{
    width: 1180px;
    margin:0 auto 40px;
    overflow:hidden;
}
.recommend_schools .schools-list ul{
    width: 1200px;
}
.recommend_schools .schools-list ul li{
    margin-top: 30px;
    width:220px;
    float:left;
    margin-right:20px;
    padding:20px;
    background:#eeeeee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.recommend_schools .schools-list ul li h3{
    font-size: 20px;
    height:40px;
    line-height: 40px;
    text-align:center;
    border-bottom: 1px dashed #e75a5a;
    color:#e75a5a;
}
.recommend_schools .schools-list ul li .btns a{
    display:block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align:center;
    background:#e75a5a;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:0 auto;
}
.recommend_schools .schools-list ul li .btns a:hover{
    background:#db5353;
}
.recommend_schools .schools-list ul li .content{
    padding: 15px;
}
.recommend_schools .schools-list ul li .content p{
    height:40px;
    line-height: 40px;
    font-size: 16px;
}
.recommend_schools .schools-list ul li .content p em{
    font-weight: bold;
    color:#e45d54;
}
.news-info-lists,.profession-job{
    background:#eeeeee;
    padding: 50px;
}
.news-info-lists .content-width,.profession-job .content-width{
    width: 1190px;
    margin:0 auto;
}
.news-info-lists .content-width .goods-1,.news-info-lists .content-width .goods-2,.profession-job .content-width .part-1,.profession-job .content-width .part-2{
    width: 580px;
    background:#fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}
.news-info-lists .content-width h1{
    font-size: 20px;
    line-height:1;
    margin-bottom: 20px;
}
.news-info-lists .content-width .goods-1 ul li,.news-info-lists .content-width .goods-2 ul li{
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    padding: 0 10px;
}
.news-info-lists .content-width .goods-1 ul li:last-child,.news-info-lists .content-width .goods-2 ul li:last-child{
    margin-bottom:0;
}
.news-info-lists .content-width .goods-1 ul li:nth-child(odd) {
    background:#efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.news-info-lists .content-width .goods-2 ul li{
    background:#efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:0;
    overflow:hidden;
}
.news-info-lists .content-width .goods-2 ul li span{
    display:inline-block;
    padding:0 15px;
    color:#fff;
    background:#e75a5a;
    margin-right: 10px;
}
.profession-job{
    margin-bottom: -40px;
    background:#fff;
}
.profession-job .content-width .part-1,.profession-job .content-width .part-2{
    background:#eeeeee;
}
.profession-job h1{
    text-align:center;
    font-size: 20px;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom: 1px dashed #ccc;

}
.profession-job .btns a{
    display:block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align:center;
    background:#e75a5a;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:20px auto 0;
}
.profession-job .btns a:hover{
    background:#db5353;
}
.profession-job .lists{
    justify-content: center;
    margin-top: 20px;
}
.profession-job .lists a{
    background:#fff;
    height: 50px;
    line-height: 50px;
    width: 150px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    text-align:center;
    font-size:16px;
}
.profession-job .lists a:nth-child(2){
    margin: 0 45px;
}
.tab-professions{
    padding: 30px;
    background:#eeeeee;
}
.tab-professions .width-limit{
    width: 1190px;
    margin:0 auto;
}
.tab-professions .width-limit h1{
    font-size: 26px;
    text-align:center;
}
.tab-professions .width-limit .content-box{
    background:#fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin:30px auto;
    overflow:hidden;
}
.tab-professions .width-limit .content-box .tab-menu li{
    width: 150px;
    background:#cacaca;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#fff;
    cursor: pointer;
    border-bottom: 1px dashed #fff;
}
.tab-professions .width-limit .content-box .tab-menu li.on,.tab-professions .width-limit .content-box .tab-menu li:hover{
    background:#e75a5a;
}
.tab-professions .width-limit .content-box .tab-menu li:last-child{
    border:none;
}
.tab-professions .width-limit .content-box .tab-content{
    width:1040px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
}
.tab-professions .width-limit .btns a{
    display:block;
    width: 500px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    background:#e75a5a;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:0 auto;

}
.tab-professions .width-limit .btns a:hover{
    background:#db5353;
}
.tab-professions .width-limit .content-box .tab-content .content{
    position:relative;
    padding-bottom: 40px;
    height: 145px;
}
.tab-professions .width-limit .content-box .tab-content p{
    font-size: 16px;
    line-height:1.5;
    text-indent: 2em;
}
.tab-professions .width-limit .content-box .tab-content a{
    display:block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    background:#191919;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.tab-professions .width-limit .content-box .tab-content a:hover{
    background:#666;
}