@import "base.css";
.footer{
    background:#161616;
    height:100px;
}
.nav-box{
    padding:15px 30px 12px;
    background:#161616;
    color:#fff;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100px;
}
.nav-box .logo-box h1{
    font-size: 32px;
    color:#fafafa;
}
.nav-box .logo-box p {
    font-size: 16px;
    color:#fafafa;
}
.nav-box .nav-lists {
    padding-top:39px
}
.nav-box .nav-lists li{
    float:left;
    height:24px;
    margin-right:20px;
}
.nav-box .nav-lists li a{
    color:#ccc;
    font-size:18px;
    height:24px;
    line-height:24px;
 }
.nav-box .nav-lists li a:hover,.nav-box .nav-lists li.on a{
    color:#fff;
    font-weight: bold;
}
.nav-box .nav-lists li.hot{
    position:relative;
}
.nav-box .nav-lists li.hot a:before{
    content:" ";
    position:absolute;
    top:-35px;
    left:1px;
    width:48px;
    height:48px;
    background:url("../images/hot.png") left top no-repeat;
    /*background-size: 16px 16px;*/
}
.nav-box .tel-box{
    color:#fff;
    font-size:16px;
    padding-top:35px;
}
.nav-box .tel-box span{
    font-size:22px;
    font-weight:bold;
    color:#fff;
}
.banner{
    width:100%;
    background:#000;
    margin-top:100px;
}
.banner img{
    display:block;
    max-width:1680px;
    width:100%;
    margin:0 auto;
    height:auto;
}
.choose-box{
    width: 1180px;
    margin:auto;
    overflow:hidden;
}
.choose-box h1{
    font-size:26px;
    position:relative;
    text-align:center;
    margin:40px auto;

}
.choose-box h1:before{
    content:"";
    position:absolute;
    width:1180px;
    top:50%;
    left:0;
    border:1px solid #cccccc;
    z-index: -1;
}
.choose-box h1 span{
    display:inline-block;
    padding:0 20px;
    background:#fff;
}
.choose-box h1 span em{
    color:#e75a5a;
    font-style: normal;
}
.choose-box .choose-lists{
    width:1200px;
    margin-top:30px;
}
.choose-box .choose-lists li{
    width:220px;
     float:left;
    margin-right:20px;
    background:#e9e8e8;
    position:relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:20px;
}

.choose-box .choose-lists li a{
    display:block;
    height:40px;
    line-height:40px;
    color:#fff;
    text-align:center;
    background:#e75a5a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.choose-box .choose-lists li a:hover{
    background:#db5353;
    color:#fafafa;
}
.choose-box .choose-lists li h3{
    font-size:20px;
    margin-bottom: 10px;
}
.choose-box .choose-lists li p.content{
    font-size: 16px;
}
.choose-box .choose-lists li div.star{
    padding:15px 0;
}
.choose-box .choose-lists li div.star h5{
    font-weight:normal;
    font-size:14px;
}
.choose-box .choose-lists li div.star div.stars{
    padding-top:10px;
}
.choose-box .choose-lists li div.star div.stars span{
    display:inline-block;
    width:20px;
    height:20px;
    background:url("../images/star.png") top left no-repeat;
    background-size:20px;
}
.hot-professions-box{
    background:#f5f5f5;
}
.hot-professions{
    margin: 40px auto 0;
    background:#f5f5f5;
    width:1180px;
    padding:30px;
}
.hot-professions .title{
    text-align:center;
}
.hot-professions h1{
    font-size: 28px;
    color:#e75a5a;
    text-align:center;
}
.hot-professions .title p.sub{
    font-size:16px;
    padding:10px 0;
}
.hot-professions .title p.sub span{
    color:#db2828;
}
.hot-professions .hot-lists{
    padding: 30px 0 0;
}
.hot-professions .hot-lists .hot{
    width: 120px;
    height:120px;
    text-align:center;
    line-height:120px;
     font-size: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color:#fff;
    background:#fda7a7;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.hot-professions .hot-lists .hot-yellow{
    background:#fbf43c;
}
.hot-professions .hot-lists .hot-purple{
    background:#fec2fa;
}
.hot-professions .hot-lists .hot-blue{
    background:#cbc8fc;
}
.hot-professions .hot-lists .hot-red{
    background:#e75a5a;
}
.schools{
    background: url("../images/school_bg.png") top center no-repeat;
}
.schools .title{
    width:1180px;
    text-align:center;
    padding:40px 0;
    margin:0 auto;
}
.schools .title h1{
    font-size:36px;
    color:#0846ad;
}
.schools .title p.sub{
    font-size: 20px;
    color:#666;
    line-height:1.8
}
.schools .schools-lists-box {
    width:1180px;
    margin: 0 auto;
    overflow:hidden;
}
.schools .schools-lists-box ul{
    width:1200px;
}
.schools .schools-lists-box ul li{
    width:380px;
    margin-right:19px;
    border-right:1px dashed #ccc;
    float:left;
    margin-bottom:20px;
    text-align:center;
}
.schools .schools-lists-box ul li img {
    width:260px;
    height:260px;
    border:none;
}
.schools .schools-lists-box ul li h4{
    font-size:20px;
    padding:10px 0;
    color:#e75a5a;
}
.schools .schools-lists-box ul li p{
    font-size:16px;
    line-height:1.5;
}
.notice{
    background:#f5f5f5;
    overflow:hidden;
}
.notice .title{
    width:1180px;
    margin:0 auto;
    padding:30px 0;
}
.notice .title p {
    position:relative;
    text-align:center;
}
.notice .title p:after{
    content: "";
    display:block;
    position:absolute;
    background:#e75a5a;
    width:100%;
    height:2px;
    top:50%;
    left:0;
    z-index:0;
}
.notice .title p span{
    display:inline-block;
    padding:0 40px;
    background:#f5f5f5;
    position:relative;
    top:0;
    left:0;
    z-index:99;
    font-size:20px;
    font-weight:bold;
    color:#e75a5a;
}
.notice .title h1{
    font-size:32px;
    color:#333;
    text-align:center;
    padding:20px 0;
}
.notice .content{
    width:1180px;
    margin:20px auto;
    overflow:hidden;
}
.notice .content ul{
    width:1200px;
}
.notice .content ul>li{
    width:280px;
    margin-right:20px;
    float:left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    padding:15px 15px 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#fff;
    height:266px;
}
.notice .content ul>li.pink{
    background:#ff8b88;
}
.notice .content ul>li.orange{
    background:#e8b771;
}
.notice .content ul>li.green{
    background:#00c49c;
}
.notice .content ul>li.blue{
    background:#309fe0;
    padding-bottom:15px;
}

.notice .content ul>li h2{
    color:#fff;
    text-align:center;
    border-bottom: 2px solid #fff;
    padding-bottom:5px;
}
.notice .content ul>li p{
    font-size:14px;
    line-height:1.5;
    padding:15px;
    color:#fff;
    max-height:130px;
    overflow:hidden;
}
.notice .content ul>li a{
    display:block;
    width:80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#414442;
    color:#fff;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:16px;
    position:absolute;
    left:10%;
    bottom:15px;
}

.notice .content ul>li ol{
    padding:15px;
}
.notice .content ul>li ol li{
    font-size:14px;
    list-style: circle inside;
    line-height:2;
    color:#fff;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.notice .btn,.installments .btn{
    display:block;
    width:200px;
    text-align:center;
    color:#fff;
    margin:30px auto;
    background:#e75a5a;
    height:50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height:50px;

}
.notice .btn:hover,.installments .btn:hover{
    background:#db5353;
    color:#fafafa;
}
.installments{
    background:url("../images/installments-bg.png") top center no-repeat;
}
.installments .title h1{
    text-align:center;
    font-size:32px;
    padding:40px 0 20px;
}
.installments .title h1 span{
    color:#e75a5a;
}
.installments .title .sub{
    font-size:20px;
    text-align:center;
    color:#eeb274;
    font-weight: bold;
}
.installments .content {
    width: 830px;
    margin:0 auto;
    overflow:hidden;
    padding-bottom:20px;
}

.installments .content ul{
    width:870px;
    padding:40px 0;
}

.installments .content ul li{
    float:left;
    width:250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:2px solid #e75a5a;
    text-align:center;
    margin-right:40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top:40px;
}
.installments .content ul li h3{
    padding-top:30px;
    color:#666;
}
.installments .content ul li a{
    display: block;
    text-align:center;
    height:50px;
    line-height:50px;
    color:#eeb274;
    text-decoration: underline;
}
.installments .content ul li a:hover{
    color:#e29e59;
}
.installments .content ul li  img{
    width:120px;
    height:120px;
    border:none;
}
