$color_black: #000;

@mixin borderRadius($value: 5px) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}
.form-box{
  padding: 20px 0;
  h1{
    text-align:center;
    color:#000;
    font-size:24px;
    line-height:1.5;
    span{
      color:#000;
    }
  }
  .days{
    text-align:center;
    font-size:28px;
    color:#a6150a;
    margin-top:15px;
    span{
      display:inline-block;
      width:50px;
      height:50px;
      margin:0 5px;
      border:2px solid #a6150a;
      font-size:30px;
      line-height:50px;
      background:#fff;
    }
  }
  .form{
    width:80%;
    margin:10px auto;
    .group{
      margin-bottom:10px;
      position:relative;
      label{
        position:absolute;
        display:block;
        width:70px;
        font-size:16px;
        height:40px;
        line-height:40px;
        top:0;
        left:0;
      }
      .group-control{
        margin-left:70px;
        background:#fff;
        height:36px;
        line-height:36px;
        width:auto;
        border:2px solid #ccc;
        input{
          display:block;
          padding:0 5px;
          border:none;
          height:36px;
          line-height:36px;
          font-size:16px;
          color:#333;
          width:100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
      }
    }
    .notice{
      font-size:14px;
      color:#333;
      line-height:1.2;
      margin-bottom:20px;
    }
    .btn button{
      display:block;
      width:100%;
      margin:0 auto;
      height:40px;
      line-height:40px;
      font-size:18px;
      letter-spacing: 5px;
      border:none;
      background:#e45d54;
      color:#fff;
      @include borderRadius;
    }
  }
}