@import url(./base.css);
.nav-box a {
  text-align: center;
  font-size: 1.2em;
  line-height: 2.6;
  color: #fff; }
.nav-box a.border {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; }
.nav-box a.blue {
  background: #5fc0f3; }
.nav-box a.green {
  background: #29b686; }
.nav-box a.pink {
  background: #e45d54; }
.nav-box .flex-box {
  border-bottom: 1px solid #fff; }

.form-box {
  padding: 20px 0;
  background: #eeeeee; }
  .form-box h1 {
    text-align: center;
    color: #000;
    font-size: 24px;
    line-height: 1.5; }
  .form-box .days {
    text-align: center;
    font-size: 28px;
    color: #a6150a;
    margin-top: 15px; }
    .form-box .days span {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0 5px;
      border: 2px solid #a6150a;
      font-size: 30px;
      line-height: 50px;
      background: #fff; }
  .form-box .form {
    width: 80%;
    margin: 10px auto; }
    .form-box .form .group {
      margin-bottom: 10px;
      position: relative; }
      .form-box .form .group label {
        position: absolute;
        display: block;
        width: 70px;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        top: 0;
        left: 0; }
      .form-box .form .group .group-control {
        margin-left: 70px;
        background: #fff;
        height: 36px;
        line-height: 36px;
        width: auto;
        border: 2px solid #ccc; }
        .form-box .form .group .group-control input {
          display: block;
          padding: 0 5px;
          border: none;
          height: 36px;
          line-height: 36px;
          font-size: 16px;
          color: #333;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
    .form-box .form .notice {
      font-size: 14px;
      color: #333;
      line-height: 1.2;
      margin-bottom: 20px; }
    .form-box .form .btn button {
      display: block;
      width: 100%;
      margin: 0 auto;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      letter-spacing: 5px;
      border: none;
      background: #e45d54;
      color: #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }

.fixed-box {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .fixed-box p {
    background: #e45d54;
    width: 100%;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 2.2; }
    .fixed-box p em {
      font-weight: bold; }
  .fixed-box .btns {
    width: 100%;
    background: #191919;
    height: 50px;
    color: #fff; }
    .fixed-box .btns a {
      color: #fff;
      display: block;
      width: 50%;
      float: left;
      text-align: center;
      height: 50px;
      line-height: 50px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .fixed-box .btns a img {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-right: 5px;
        vertical-align: middle; }
    .fixed-box .btns a.online {
      border-right: 1px solid #ccc; }

body {
  padding-bottom: 105px; }
  body h1 {
    font-size: 20px;
    text-align: center; }

header {
  background: #5fc0f3;
  padding: 20px 0;
  border-bottom: 2px solid #fff; }
  header h1 {
    text-align: center;
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px; }

.info {
  padding: 0 10px; }
  .info h2 {
    font-size: 20px;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 10px 0 10px 35px;
    color: #e45d54; }
  .info h2:before {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    background: #e45d54;
    border: 4px solid rgba(228, 93, 84, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 20px;
    background-clip: padding-box; }
  .info article {
    text-indent: 2em;
    font-size: 16px;
    line-height: 1.5; }

.professionals, .job {
  background: #ebebeb;
  margin-top: 22px;
  overflow: hidden; }
  .professionals h1, .job h1 {
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    color: #333; }
  .professionals .link, .job .link {
    margin-bottom: 10px; }
    .professionals .link a, .job .link a {
      text-align: center;
      font-size: 16px;
      text-decoration: underline;
      color: #333; }
    .professionals .link a.hot-link, .job .link a.hot-link {
      font-weight: bold;
      display: block;
      padding: 0 5px;
      color: #e45d54; }
  .professionals .btns a, .job .btns a {
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 90%;
    background: #191919;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 15px auto;
    height: 36px;
    line-height: 36px; }

.schools {
  padding: 0 10px; }
  .schools h1 {
    color: #333;
    font-size: 20px;
    text-align: center;
    padding: 15px 0; }
  .schools table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle; }
    .schools table tr, .schools table td {
      border: 1px solid #ccc;
      background: #fafafa; }
    .schools table td {
      padding: 5px 0; }
      .schools table td .school_info h5 {
        font-size: 18px; }
      .schools table td .school_info p {
        margin-top: 4px; }
        .schools table td .school_info p em {
          color: #e45d54; }
      .schools table td img {
        width: 80px;
        height: 50px; }
    .schools table td.btns a {
      background: #e45d54; }
  .schools .btns a {
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 90%;
    background: #191919;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 15px auto;
    height: 36px;
    line-height: 36px; }

.more_ask {
  background: #e45d54;
  padding: 10px 10px 0;
  overflow: hidden; }
  .more_ask a {
    display: block;
    background: #fff;
    font-weight: bold;
    color: #e45d54;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px; }

.questions {
  margin-top: 20px;
  padding-right: 10px;
  overflow: hidden; }
  .questions h1 {
    font-size: 20px;
    text-align: center;
    line-height: 1;
    margin-bottom: 20px;
    color: #333; }
  .questions .list {
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px; }
    .questions .list p {
      font-size: 14px;
      padding: 0 10px;
      margin-right: 10px; }
    .questions .list a {
      display: inline-block;
      color: #fff;
      font-size: 14px;
      width: 90px;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #191919; }
  .questions .list:nth-child(even) p {
    background: #eeeeee; }
  .questions .list:nth-child(even) a {
    background: #e45d54; }

.goods {
  margin-top: 20px; }
  .goods h1 {
    line-height: 1;
    margin-bottom: 20px; }
  .goods .list {
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    font-size: 14px; }
    .goods .list span {
      display: inline-block;
      width: 90px;
      text-align: center;
      background: #fcb6b1; }
    .goods .list p {
      text-align: center;
      background: #e45d54;
      color: #fff; }

.form-box {
  background: #eeeeee;
  margin: 30px auto; }
  .form-box .days {
    font-size: 25px;
    color: #666;
    margin-bottom: 20px; }
    .form-box .days em {
      font-style: normal;
      font-size: 30px;
      color: #e45d54; }

footer {
  display: block;
  text-align: center;
  font-size: 14px; }

/*# sourceMappingURL=professional.css.map */
